html, body {
	position: relative;
	width: 100%;
	height: 100%;

	--border: 1px solid #dedede;
	--box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
	--spacing: 12px;
}

body {
	color: #333;
	background-color: #F9F9F9;
	margin: 0;
	box-sizing: border-box;
	font-family: Inter,Roboto,Oxygen,Fira Sans,Helvetica Neue,sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

a.active {
	color: #5f6368;
}

a:hover {
	color: #222;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: 0.8rem;
	padding: 0.4rem;
	box-sizing: border-box;
	border: var(--border);
	border-radius: 2px;
}

input[type=email] {
	background-color: ghostwhite;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* --- */

h1, h2, h3, h4, h5, p {
	margin-block-start: 0.2rem;
	margin-block-end: 0.2rem;
}

header {
	background-color: white;
}
nav {
	position: sticky;
	top: 0;
	font-size: .9em;
	background-color: white;
}
/* Show the dropdown menu on hover */
nav:hover .dropdown-content {
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

nav a {
	display: block;
	padding: 10px;
	border-top: var(--border);
}
nav a:hover {
	background-color: gainsboro;
}

footer {
	font-size: small;

	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: flex-end;
	position: sticky;
	bottom: 0;
	/* margin: 0 calc(-1 * var(--spacing)); */
	padding: calc(var(--spacing) / 2);
	line-height: normal;
}
footer > *:first-child {
	margin-right: var(--spacing);
	margin-block-end: 6px;
}
footer input {
	margin: 0;
}

.logo {
	display: flex;
	padding: var(--spacing);
}
.logo h1 {
	color: darkolivegreen;
	font-weight: 500;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 7vw;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-right: 1vw;
	display: inline-block;
}
.logo img {
	width: 20vw;
}

@media screen and (min-width: 640px) {
  .logo h1 {
     font-size: 56px;
	}
	.logo img {
		width: 180px;
	}
}

main {
	padding: var(--spacing);
	line-height: 150%;
}

blockquote {
	font-family: monospace;
  font-style: italic;
	padding: 10px;
	background-color: cornsilk;
	box-shadow: var(--box-shadow);
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.repo-link {
	position: absolute;
	right: var(--spacing);
	top: var(--spacing);
}

.dropdown-caret {
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: middle;
	content: "";
	border-top-style: solid;
	border-top-width: 4px;
	border-right: 4px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 4px solid transparent;
	margin-bottom: 2px;
	color: darkgray;
}

.missionBtn {
	display: flex;
  align-items: center;
}

.border {
	border-top: var(--border);
	border-right: var(--border);
	border-bottom: var(--border);
	border-left: var(--border);
}

.border-bottom {
	border-bottom: var(--border);
}

.border-top {
	border-top: var(--border);
}

.shadow {
	box-shadow: var(--box-shadow);
}

.padding {
	padding: var(--spacing);
}

.flow > * + * {
	margin-top: var(--spacing);
}
.flow > h2 {
	margin-top: 1em;
	margin-bottom: .2em;
}
.flow > h2 + * {
	margin-top: 0;
}

.check-mark {
	font-size: x-large;
	color: darkolivegreen;
}

.panel {
	background-color: white;
}