html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: #5f6368;
	text-decoration: none;
}

a:hover {
	color: #222;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

/* --- */

h1, h2, h3, h4, h5 {
	margin-block-start: 0.6em;
	margin-block-end: 0.2em;
}

p {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

a {
	text-decoration: none;
}
a.active {
	color: black;
}

header {
	position: sticky; top: 0;
	background-color: #f8f9fa;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
	padding: 12px;
}

footer {
	position: sticky; bottom: 0;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
	border: 1px solid #cccccc;
	padding: 8px 12px;
	display: flex;
	align-items: baseline;
	margin-left: auto;
	width: fit-content;
	font-size: .8em;
}
footer > * + * {
	margin-left: 12px;
}
footer input {
	margin: 0;
}

.logo {
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	font-size: 1.5em;
	font-weight: 500;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {
	font-size: .9em;
}

main {
	padding: 12px;
}

q {
	font-style: italic;
}

blockquote {
	font-family: monospace;
  font-style: italic;
	padding: 10px;
	background-color: cornsilk;
	box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
	margin-inline-start: 0;
	margin-inline-end: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}
